* {
    box-sizing: border-box;
  }


.header {
	height: 120px;
	width: 200px;
	background-color: black;
}

.headerground {
	background-color: #1f2121;
}

.nav {
	text-align: right;
	font-size: x-large;
	font-style: unset;
}

